---
import '../styles/global.css'
import FreePlacesBanner from '../components/sections/home/FreePlacesBanner.astro'

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "MS Maler Winterthur von einfachen Streicharbeiten über Umbauten bis hin zu Komplettrenovationen wir bieten alle Malerarbeiten.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content={description}/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <!-- Preconnect to external domains -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Preload Font Awesome CSS and load asynchronously -->
  <link rel="preload" href="/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/all.min.css"></noscript>
  
  <meta name="generator" content={Astro.generator}/>
  <title>{title}</title>
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body class="font-family-body">
<slot/>

</body>
</html>


